@(users: Seq[models.User])(implicit session: play.mvc.Scope.Session)

@main{
  <title>Foosball - Dashboard</title>

  <script type="text/javascript">
    $(document).ready(function() {
      var players = [@users.map("'" + _.name + "'").mkString(",")];

      $(".inputField").autocomplete({
        source: players,
        change: function (event, ui) {
          var $this = $(this);

          if (!$this.val()) {
            return;
          }

          var compareValue = $this.val().toUpperCase();
          for (var index = 0; index < players.length; index++) {
            if (players[index].toUpperCase() === compareValue) {
              $this.val(players[index]);
              return;
            }
          }

          $this.val("");
        }
      });

      $(".linkButton").click(function(event) {
        var $this = $(this);
        if ($this.hasClass("deselected")) {
          $(".linkButton").addClass("deselected");
          $this.removeClass("deselected");

          var $resultSubmit = $("#resultSubmit");
          $resultSubmit.removeClass("winner");
          $resultSubmit.removeClass("loser");
          $resultSubmit.prop("disabled", false);

          var $playerInput = $this.siblings("input").eq(0);

          var buttonResult = $this.attr("result");
          if (buttonResult == "win") {
            $resultSubmit.addClass("winner");
            $resultSubmit.html("Record a win for " + $playerInput.val());
            $("#winner").val($playerInput.prop("name"));
          } else {
            $resultSubmit.addClass("loser");
            $resultSubmit.html("Record a loss for " + $playerInput.val());
            $("#loser").val($playerInput.prop("name"));
          }
        }
      });

      $(".playerName").keyup(function(event) {
        var $this = $(this);

        var siblingResults = $this.siblings(".linkButton").not(".deselected");
        if (siblingResults.length) {
          var $selectedResult = siblingResults.eq(0);
          $selectedResult.addClass("deselected");

          var $resultSubmit = $("#resultSubmit");
          $resultSubmit.removeClass("winner");
          $resultSubmit.removeClass("loser");
          $resultSubmit.prop("disabled", true);
          $resultSubmit.html("Select a result");
        }
      });
    });
  </script>
}{
  <div id="quickResults" class="widget small">
    <h2>Quick Results</h2>
    @form(controllers.Result.recordQuick) {
      <fieldset class="singleColumn">
        @views.tags.html.playerResult("player1", 1)
        @views.tags.html.playerResult("player2", 2)
        @views.tags.html.playerResult("player3", 3)
        @views.tags.html.playerResult("player4", 4)
        <button id="resultSubmit" disabled="true">Select a result</button>
      </fieldset>
      <input type="hidden" id="winner" name="winner" />
      <input type="hidden" id="loser" name="loser" />
    }
  </div>
}