@(users: Seq[models.User])(implicit session: play.mvc.Scope.Session)

@main{
  <title>Foosball - Dashboard</title>

  <script type="text/javascript">
    $(document).ready(function() {
      var players = [@users.map("'" + _.name + "'").mkString(",")];

      $(".inputField").autocomplete({
        source: players
      });

      $(".linkButton").click(function(event) {
        var $this = $(this);
        if ($this.hasClass("deselected")) {
          $(".linkButton").addClass("deselected");
          $(this).removeClass("deselected");
        } else {
          $(this).addClass("deselected");
        }
      });
    });
  </script>
}{
  <div id="quickResults" class="widget small">
    <h2>Quick Results</h2>
    <fieldset class="singleColumn">
      @views.tags.html.playerResult("player1", 1)
      @views.tags.html.playerResult("player2", 2)
      @views.tags.html.playerResult("player3", 3)
      @views.tags.html.playerResult("player4", 4)
    </fieldset>
  </div>
}