@(users: Seq[models.User], recentMatches: Seq[domain.MatchWithResults], playerRankings: Seq[domain.PlayerRanking], conflictingMatch: Option[domain.MatchWithGames] = None, conflictingMatchJson: Option[play.api.libs.json.JsValue] = None)(implicit request: RequestHeader, flash: Flash)

@main{
  <title>Foosball - Dashboard</title>

  <script type="text/javascript">
    // ===== Global Variables =====
    @if(conflictingMatchJson.isDefined) {
      var conflictingGames = @Html(conflictingMatchJson.get.toString);
    }

    var selectedPlayers = [];

    // ===== Functional Methods =====

    // Decides whether to display the submit button or not
    // http://stackoverflow.com/questions/2435751/jquery-fade-element-does-not-show-elements-styled-visibility-hidden
    function updateResultSubmitDisplay() {
      var $resultSubmit = $("#resultSubmit");

      if (isResultsComplete()) {
        $resultSubmit.removeClass("disabledButton").addClass("submitButton");
        $resultSubmit.removeAttr("disabled");
      } else {
        $resultSubmit.removeClass("submitButton").addClass("disabledButton");
        $resultSubmit.attr("disabled", "true");
        $resultSubmit.text("Capture match results");
      }
    }

    // Determines the result of the match (who won, lost or if it was a draw)
    function determineResult() {
      // If all the Players haven't been selected, or all the results haven't been provided, exit early
      if (!isResultsComplete()) {
        return;
      }

      var playerWins = [0, 0, 0, 0];

      var $matchResults = $(".matchResults");
      $matchResults.each(function() {
        var scoreDiff = 0;
        var $scoreButtonSections = $(this).find(".scoreButtons");

        $scoreButtonSections.each(function() {
          var score = parseInt($(this).children(".scoreButton:not(.deselected)").text());
          if ($(this).attr("side") == "left") {
            scoreDiff += score;
          } else {
            scoreDiff -= score;
          }
        });

        var winners;
        if (scoreDiff > 0) { // Left won
          winners = $scoreButtonSections.filter("[side='left']").first().attr("players").split(",");
        } else if (scoreDiff < 0) { // Right won
          winners = $scoreButtonSections.filter("[side='right']").first().attr("players").split(",");
        } else { // Draw
          winners = [];
        }

        $.each(winners, function() {
          var winnerPos = parseInt(this) - 1;
          playerWins[winnerPos]++;
        });
      });

      applyResult(playerWins);
    }

    // Determines what to display based on the number of wins
    function applyResult(playerWins) {
      var UNDEFINED = -1;
      var DUPLICATES = -2;

      var winner = UNDEFINED;
      var loser = UNDEFINED;

      var max = Math.max.apply(Math, playerWins);
      var min = Math.min.apply(Math, playerWins);

      $.each(playerWins, function(index, value) {
        if (value == max) {
          if (winner == UNDEFINED) {
            winner = index;
          } else {
            winner = DUPLICATES;
          }
        }

        if (value == min) {
          if (loser == UNDEFINED) {
            loser = index;
          } else {
            loser = DUPLICATES;
          }
        }
      });

      var displayString = "";
      if (winner >= 0) {
        var winnerName = $("#player" + (winner + 1)).val();
        displayString = "Submit a win for " + winnerName;

        if (loser >= 0) {
          var loserName = $("#player" + (loser + 1)).val();
          displayString += " and a loss for " + loserName;
        }
      } else if (loser >= 0) {
        var loserName = $("#player" + (loser + 1)).val();
        displayString = "Submit a loss for " + loserName;
      } else {
        displayString = "Submit a draw with no single winner/loser";
      }

      var $resultSubmit = $("#resultSubmit");
      $resultSubmit.html(displayString);
	  }

    function isResultsComplete() {
      return (selectedPlayers.length == 4 && $(".scoreButton:not(.deselected)").length == 12);
    }

    function buildGameScoreForSide(game, side) {
      var result = {};

      var $matchResults = $(".matchResults[game='" + game + "']");
      result.player1 = $matchResults.find(".matchPlayer[side='" + side + "']").first().children(".matchPlayerName").text();
      result.player2 = $matchResults.find(".matchPlayer[side='" + side + "']").last().children(".matchPlayerName").text();
      result.score1 = parseInt($matchResults.find(".scoreButtons[side='" + side + "'][round='1']").children(".scoreButton:not(.deselected)").text());
      result.score2 = parseInt($matchResults.find(".scoreButtons[side='" + side + "'][round='2']").children(".scoreButton:not(.deselected)").text());

      return result;
    }

    // ===== Event Listeners =====

    // Refreshes the Standings and Recent Matches through AJAX calls to the server
    function refreshWidgets() {
      jsRoutes.controllers.Dashboard.refresh().ajax({
        success: function(data) {
          $("#rankingTable").replaceWith(data.rankings);
          $("#recentMatches").replaceWith(data.recentMatches);
        }
      });
    }

    // ===== Initialization =====

    $(document).ready(function() {
      // User clicks on one of the match result buttons (for example 2-1)
      $(".scoreButton").click(function(event) {
        var $this = $(this);
        if ($this.hasClass("disabledButton")) {
          return;
        }

        if ($this.hasClass("deselected")) {
          $this.siblings(".scoreButton").addClass("deselected").removeClass("selected" ).removeClass("winSelected");

          if ($this.hasClass("winScore")) {
            $this.removeClass("deselected").addClass("winSelected");
          } else {
            $this.removeClass("deselected").addClass("selected");
          }

          var round = $this.parent().attr('round');
          var players = $this.parent().attr('players');
          var $otherScoreButtons = $this.parents(".matchResults").find(".scoreButtons[round = '" + round + "'][players != '" + players + "']");

          if ($this.attr("score") == 5) {
            $otherScoreButtons.children(".scoreButton[score = 5]").addClass("deselected").removeClass("winSelected");
          } else {
            $otherScoreButtons.children(".scoreButton[score = 5]").removeClass("deselected").addClass("winSelected");
            $otherScoreButtons.children(".scoreButton[score != 5]").addClass("deselected").removeClass("selected");
          }
        }

        determineResult();
        updateResultSubmitDisplay();
      });

      // User selects a Player to add to the match result
      $(".player").click(function(event) {
        var $this = $(this);

        if ($this.hasClass("selected")) {
          var selectedPlayer = $this.attr("player");

          selectedPlayers = $.grep(selectedPlayers, function(value) {
            return value != selectedPlayer;
          });

          $("#player" + selectedPlayer).val("");

          $(".matchPlayer[player=" + selectedPlayer + "]").html(
            '<div class="selectPlayer">Player ' + selectedPlayer + '</div>'
          ).removeClass("expose");

          $this.removeClass("expose").removeClass("selected");
        } else {
	        var selectedPlayer = 1;
	        while ($.inArray(selectedPlayer, selectedPlayers) !== -1) {
	          ++selectedPlayer;
	        }

	        if (selectedPlayer === 5) {
	          return; // Not allowed to select 5 players
	        }
	        if (selectedPlayer === 4) { // Activate the result buttons (if they aren't active yet)
              $(".scoreButton").removeClass("disabledButton");
              $(".winScore").addClass("winSelectable");
              $(".loseScore").addClass("selectable");
	        }

	        $("#player" + selectedPlayer).val($this.attr("name"));

	        $(".matchPlayer[player=" + selectedPlayer + "]").html(
	          '<img class="smallAvatar" src="' + $this.children("img").attr("src") + '" alt="Avatar" />' +
	          '<div class="matchPlayerName">' + $this.attr("name") + '</div>'
	        ).addClass("expose");

	        $this.addClass("expose").addClass("selected").attr("player", selectedPlayer);

	        selectedPlayers.push(selectedPlayer);

	        determineResult();
	      }

	      updateResultSubmitDisplay();
      });

      // Users clicks the "Capture match result" button
      $("#resultSubmit").click(function(event) {
    	  if ($(this).hasClass("disabledButton")) {
    		  return;
    	  }

        //var players = ["1", "2", "3", "4"];

        var request = {};
        request.games = [];

        for (var i = 1; i <= 3; ++i) {
          var game = {};
          game.sides = [];

          game.sides.push(buildGameScoreForSide(i, "left"));
          game.sides.push(buildGameScoreForSide(i, "right"));

          request.games.push(game);
        }

        // Stores the JSON data in a form field
        $("#results").val(JSON.stringify(request));
      });

      // User clicks the "Capture" conflict resolution button
      $("#captureButton").click(function(event) {
        $("#results").val(JSON.stringify(conflictingGames));
        $("#force").val("true");
        $("#matchForm").submit();
      })

      // User clicks the "Discard" conflict resolution button
      $("#discardButton").click(function(event) {
        $("#matchConflict").fadeOut("fast")
      })

	    // Adjust the standings height to match the results heigh
      $("#standings").height($("#resultsContainer").height());

      // Refresh the widgets every 10 seconds
      setInterval(refreshWidgets, 10000);
    });
  </script>
}{
  @flash.get("success").map { message =>
    <div class="success">
      @message
    </div>
  }

  @if(conflictingMatch.isDefined) {
    <div id="matchConflict" class="warning">
      <span class="conflictMessage">
        @conflictingMatch.get.capturedBy recently captured the exact same result. Are you sure you are not capturing a duplicate result?
      </span>
      <div class="conflictActions">
        <button id="captureButton" type="button" class="submitButton conflictAction">Capture</button>
        <button id="discardButton" type="button" class="submitButton conflictAction">Discard</button>
      </div>
    </div>
  }

  @if(!recentMatches.isEmpty) {
    <div class="across">
      <div id="history" class="widget">
        <div class="centered">
          <h1>Recent matches:</h1>
        </div>

        @tags.recentMatches(recentMatches)
      </div>
    </div>
  }

  <div class="bigLeft">
    <div id="resultsContainer" class="widget">
      <h1 class="centered">Capture match results:</h1>

      @tags.playerSelection(users)

      <hr class="divider" />

      @tags.matchResults(1, Vector(1, 2, 3, 4))
      @tags.matchResults(2, Vector(1, 3, 4, 2))
      @tags.matchResults(3, Vector(1, 4, 2, 3))

      @helper.form(routes.Dashboard.captureMatch, 'id -> "matchForm") {
	      <input type="hidden" id="player1" name="player1" />
	      <input type="hidden" id="player2" name="player2" />
	      <input type="hidden" id="player3" name="player3" />
	      <input type="hidden" id="player4" name="player4" />

        <input type="hidden" id="results" name="results" />
        <input type="hidden" id="force" name="force" value="false" />

	      <div class="centered">
          <button id="resultSubmit" class="disabledButton" type="submit" disabled="true">Capture match results</button>
        </div>
      }
    </div>
  </div>
  <div class="smallRight">
    <div id="standings" class="widget">
      <div class="centered">
        <h1>Current standings:</h1>
      </div>

      @tags.rankingTable(playerRankings)

    </div>
  </div>
}