@(users: Seq[models.User])

@main{
  <title>Foosball - Dashboard</title>

  <script type="text/javascript">
    var selectedPlayers = [];

    $(document).ready(function() {
      $(".linkButton").click(function(event) {
        var $this = $(this);
        if ($this.hasClass("deselected")) {
          $this.siblings(".linkButton").addClass("deselected");
          $this.removeClass("deselected");
        }
      });
      
      $(".player").click(function(event) {
        var $this = $(this);
        
        if ($this.hasClass("selected")) {
          var selectedPlayer = $this.attr("player");
          
          selectedPlayers = $.grep(selectedPlayers, function(value) {
            return value != selectedPlayer;
          });
          
          $(".matchPlayer[player=" + selectedPlayer + "]").html(
            '<div class="selectPlayer">Select Player ' + selectedPlayer + '</div>'
          ).removeClass("expose");
          
          $this.removeClass("expose").removeClass("selected");
        } else {
	        var selectedPlayer = 1;
	        while ($.inArray(selectedPlayer, selectedPlayers) !== -1) {
	          ++selectedPlayer;
	        }
	        
	        if (selectedPlayer === 5) {
	          return; // All 4 players have been selected
	        }
	          
	        $(".matchPlayer[player=" + selectedPlayer + "]").html(
	          '<img class="smallAvatar" src="/assets/images/avatars/default.jpg" alt="Avatar" />' +
	          '<div class="matchPlayerName">' + $this.attr("name") + '</div>'
	        ).addClass("expose");
	        
	        $this.addClass("expose").addClass("selected").attr("player", selectedPlayer);
	
	        selectedPlayers.push(selectedPlayer);
	      }
      });   
    });
  </script>
}{
  <div class="bigLeft">
    <h1>Capture match results:</h1>
    @tags.matchResults(2)
    @tags.matchResults(3)
    @tags.matchResults(4)
    <div class="players">
      @for(user <- users) {
        <div class="player" name="@user.name">
          <img class="miniAvatar" src="@routes.Assets.at("images/avatars/" + user.avatar + ".jpg")" alt="Avatar" />
          <div class="playerName">@user.name</div>
        </div>
      }
    </div>
  </div>
  <div class="smallRight">
    <h1>Current standings:</h1>
  </div>
}