@(users: Seq[models.User], recentMatches: Seq[domain.MatchWithResults], playerRankings: Seq[domain.PlayerRanking], conflictingMatch: Option[domain.MatchWithGames] = None, conflictingMatchJson: Option[play.api.libs.json.JsValue] = None)(implicit request: RequestHeader, flash: Flash)

@main{
  <title>Foosball - Dashboard</title>

  <script type="text/javascript">
    @if(conflictingMatchJson.isDefined) {
      var conflictingGames = @Html(conflictingMatchJson.get.toString);
    }

    var selectedPlayers = [];

    // Decides whether to display the submit button or not
    // http://stackoverflow.com/questions/2435751/jquery-fade-element-does-not-show-elements-styled-visibility-hidden
    function updateResultSubmitDisplay() {
      var $resultSubmit = $("#resultSubmit");
    
      if ($(".scoreButton:not(.deselected)").length === 3 && selectedPlayers.length === 4) {
        if ($resultSubmit.hasClass("disabledButton")) {          
          $resultSubmit.removeClass("disabledButton").addClass("submitButton");
          $resultSubmit.removeAttr("disabled");
        }
      } else {
        if (!$resultSubmit.hasClass("disabledButton")) {
          $resultSubmit.removeClass("submitButton").addClass("disabledButton");
          $resultSubmit.attr("disabled", "true");
          $resultSubmit.text("Capture match results");
        } 
      }
    }

    // Determines the result of the match (who won, lost and pseudos)
    function determineResult() {
      // If all the Players haven't been selected, or all the results haven't been provided, exit early
      if (selectedPlayers.length !== 4 || $(".scoreButton:not(.deselected)").length !== 3) {
        return;
      }
      
      var playerWins = [0, 0, 0, 0];
      $(".scoreButton:not(.deselected)").each(function() {
        var winners = $(this).attr("winners").split(",");
        
        for (var index = 0; index < playerWins.length; index++) {
          if ($.inArray((index + 1).toString(), winners) !== -1) {
            playerWins[index] += 2;
          } else if (!$(this).attr("straightWin")) {
            playerWins[index] += 1;
          }
        }
      });
      
      applyResult(playerWins);
    }
    
    // TODO: Not happy with this algorithm, revisit and clean up at some stage
    // Calculates who won/lost and pseudos based on the number of (game) wins per Player
    function applyResult(playerWins) {
      // First remove players with the same number of wins (by setting to -1), as they can't be best, worst, or pseudo.
      var cleanedWins = [];
      var sameWinCount = -1;
      for (var index = 0; index < playerWins.length; index++) {
        cleanedWins[index] = playerWins[index];
      
        for (var subIndex = 0; subIndex < playerWins.length; subIndex++) {
          if (index !== subIndex && playerWins[index] === playerWins[subIndex]) {
            cleanedWins[index] = -1;
            sameWinCount = playerWins[index];
          }
        }
      }
      
      var winCount = 0;
      var winner = -1;
      var loseCount = 6;
      var loser = -1;
      
      // Then determine how many wins the winner and losers got (might be the same if 3 players had the same number of wins)
      for (var index = 0; index < cleanedWins.length; ++index) {
        if (cleanedWins[index] !== -1) {
          if (cleanedWins[index] >= winCount) {
            winCount = cleanedWins[index];
            winner = index;
          }
          if (cleanedWins[index] <= loseCount) {
            loseCount = cleanedWins[index];
            loser = index;
          }
        }
      }
      
      var $resultSubmit = $("#resultSubmit");
      var winnerName = $("#player" + (winner + 1)).val();
      var loserName = $("#player" + (loser + 1)).val();
      
      // In order to win outright, a player always requires exactly 6 wins, else someone lost
      if (winCount === 6) {        
        // If the winner and the loser is the same, there is no pseudo, else there is
        if (winner === loser) {
          $resultSubmit.html("Submit a win for " + winnerName);
        } else if (loseCount > sameWinCount) {
          $resultSubmit.html("Submit a win for " + winnerName + " (and a pseudo-win for " + loserName +")");
        } else {
          $resultSubmit.html("Submit a win for " + winnerName + " (and a pseudo-loss for " + loserName +")");
        }
      } else {
        
        // If the loser and the winner is the same, there is no pseudo, else there is
        if (loser === winner) {
          $resultSubmit.html("Submit a loss for " + loserName);
        } else if (winCount > sameWinCount) {
          $resultSubmit.html("Submit a loss for " + loserName + " (and a pseudo-win for " + winnerName +")");
        } else {
          $resultSubmit.html("Submit a loss for " + loserName + " (and a pseudo-loss for " + winnerName +")");
        }
      }
	  }
	  
    // Refreshes the Standings and Recent Matches through AJAX calls to the server
    function refreshWidgets() {
      jsRoutes.controllers.Dashboard.refresh().ajax({
        success: function(data) {
          $("#rankingTable").replaceWith(data.rankings);
          $("#recentMatches").replaceWith(data.recentMatches);
        },
        beforeSend: function() {
          $('.inlineLoader').show();
        },
        complete: function() {
          $('.inlineLoader').hide();
        }
      });
    }

    $(document).ready(function() {
      // User clicks on one of the match result buttons (for example 2-1)
      $(".scoreButton").click(function(event) {
        var $this = $(this);
        if ($this.hasClass("disabledButton")) {
        	return;
        }
        
        if ($this.hasClass("deselected")) {
          $this.siblings(".scoreButton").addClass("deselected").removeClass("selected");
          $this.removeClass("deselected").addClass("selected");
        }
                
        determineResult();
        updateResultSubmitDisplay();
      });
            
      // User selects a Player to add to the match result
      $(".player").click(function(event) {
        var $this = $(this);
                
        if ($this.hasClass("selected")) {
          var selectedPlayer = $this.attr("player");
          
          selectedPlayers = $.grep(selectedPlayers, function(value) {
            return value != selectedPlayer;
          });
          
          $("#player" + selectedPlayer).val("");
          
          $(".matchPlayer[player=" + selectedPlayer + "]").html(
            '<div class="selectPlayer">Player ' + selectedPlayer + '</div>'
          ).removeClass("expose");
          
          $this.removeClass("expose").removeClass("selected");
        } else {
	        var selectedPlayer = 1;
	        while ($.inArray(selectedPlayer, selectedPlayers) !== -1) {
	          ++selectedPlayer;
	        }
	        
	        if (selectedPlayer === 5) {
	          return; // Not allowed to select 5 players
	        }
	        if (selectedPlayer === 4) { // Activate the result buttons (if they aren't active yet)
              $(".scoreButton").removeClass("disabledButton").addClass("selectable");
	        }
	        
	        $("#player" + selectedPlayer).val($this.attr("name"));
	        
	        $(".matchPlayer[player=" + selectedPlayer + "]").html(
	          '<img class="smallAvatar" src="' + $this.children("img").attr("src") + '" alt="Avatar" />' +
	          '<div class="matchPlayerName">' + $this.attr("name") + '</div>'
	        ).addClass("expose");
	        
	        $this.addClass("expose").addClass("selected").attr("player", selectedPlayer);
	
	        selectedPlayers.push(selectedPlayer);
	        
	        determineResult();
	      }
	      
	      updateResultSubmitDisplay();
      });
      
      // Users clicks the "Capture match result" button
      $("#resultSubmit").click(function(event) {
    	  if ($(this).hasClass("disabledButton")) {
    		  return;
    	  }
    	  
        var players = ["1", "2", "3", "4"];
      
        var request = {};
        request.games = [];
        
        for (var index = 0; index < 3; ++index) {
          var game = {};
          
          game.winners = [];
          game.losers = [];
          
          $(".matchResults[game=" + (index + 1) + "] .scoreButton:not(.deselected)").each(function() {
            var $this = $(this);
            
            var winners = $this.attr("winners").split(",");
            var losers = $.grep(players, function(value) {
              return ($.inArray(value, winners) === -1);
            });
            
            for (var winnerIndex = 0; winnerIndex < winners.length; winnerIndex++) {
              game.winners.push($("#player" + winners[winnerIndex]).val());
            }
            
            for (var loserIndex = 0; loserIndex < losers.length; loserIndex++) {
              game.losers.push($("#player" + losers[loserIndex]).val());
            }
            
            // Reverse the results if the right side won (i.e. 1-2 becomes 2-1)
            if ($this.text().charAt(2) === '2') {
              game.score = $this.text().split("").reverse().join(""); // $.reverse() doesn't exist for some reason
            } else {
              game.score = $this.text();
            }
          });
          
          request.games.push(game);
        }
        
        // Stores the JSON data in a form field
        $("#results").val(JSON.stringify(request));    
      });
      
      // User clicks the "Capture" conflict resolution button
      $("#captureButton").click(function(event) {
        $("#results").val(JSON.stringify(conflictingGames));
        $("#force").val("true");
        $("#matchForm").submit();
      })
      
      // User clicks the "Discard" conflict resolution button
      $("#discardButton").click(function(event) {
        $("#matchConflict").fadeOut("fast")
      })
      	  
	    // Adjust the standings height to match the results heigh
      $("#standings").height($("#matchResults").height());
      
      // Refresh the widgets every 10 seconds
      setInterval(refreshWidgets, 10000);
    });
  </script>
}{
  @flash.get("success").map { message =>
    <div class="success">
      @message
    </div>
  }
  
  @if(conflictingMatch.isDefined) {
    <div id="matchConflict" class="warning">
      <span class="conflictMessage">
        @conflictingMatch.get.capturedBy recently captured the exact same result. Are you sure you are not capturing a duplicate result?
      </span>
      <div class="conflictActions">
        <button id="captureButton" type="button" class="submitButton conflictAction">Capture</button>
        <button id="discardButton" type="button" class="submitButton conflictAction">Discard</button>
      </div>
    </div>
  }
  
  @if(!recentMatches.isEmpty) {
    <div class="across">
      <div id="history" class="widget">
        <div class="centered">
          <img class="inlineLoader" style="display: none;" src="@routes.Assets.at("images/ajax-loader.gif")" alt="Waiting for AJAX repsonse ..." />
          <h1>Your recent matches:</h1>
          <img class="inlineLoader" style="display: none;" src="@routes.Assets.at("images/ajax-loader.gif")" alt="Waiting for AJAX repsonse ..." />
        </div>

        @tags.recentMatches(recentMatches)
      </div>
    </div>
  }
  
  <div class="bigLeft">
    <div id="matchResults" class="widget">
      <h1 class="centered">Capture match results:</h1>

      <div class="players">
        @for(user <- users) {
          <div class="player selectable" name="@user.name">
            <img class="miniAvatar" src="@routes.Assets.at("images/avatars/" + user.avatar + ".png")" alt="Avatar" />
            <div class="playerName">@user.name</div>
          </div>
        }
      </div>

      <hr class="divider" />

      @tags.matchResults(1)
      @tags.matchResults(2)
      @tags.matchResults(3)
     
      @helper.form(routes.Dashboard.captureMatch, 'id -> "matchForm") {
	      <input type="hidden" id="player1" name="player1" />
	      <input type="hidden" id="player2" name="player2" />
	      <input type="hidden" id="player3" name="player3" />
	      <input type="hidden" id="player4" name="player4" />

        <input type="hidden" id="results" name="results" />
        <input type="hidden" id="force" name="force" value="false" />
        
	      <div class="centered">
          <button id="resultSubmit" class="disabledButton" type="submit" disabled="true">Capture match results</button>
        </div>
      }
    </div>
  </div>
  <div class="smallRight">
    <div id="standings" class="widget">
      <div class="centered">
        <img class="inlineLoader" style="display: none;" src="@routes.Assets.at("images/ajax-loader.gif")" alt="Waiting for AJAX repsonse ..." />
        <h1>Current standings:</h1>
        <img class="inlineLoader" style="display: none;" src="@routes.Assets.at("images/ajax-loader.gif")" alt="Waiting for AJAX repsonse ..." />
      </div>

      @tags.rankingTable(playerRankings)

    </div>
  </div>
}