@(usedAvatars: Seq[String], token: String)(implicit request: RequestHeader, flash: Flash)

@main {
  <title>Foosball - Signup</title>
  
  <script type="text/javascript">
    function updatePlayerSubmitDisplay() {
      var $playerSubmit = $("#playerSubmit");
      
      if ($playerSubmit.hasClass("disabledButton")) {
        if ($("#name").val() != '' && $("#email").val() != '' && $("#password").val() != '' && $("#avatar").val() != '') {
          $playerSubmit.removeClass("disabledButton").addClass("submitButton");
          $playerSubmit.removeAttr("disabled");
        }
      }
    }

    $(document).ready(function() {
      // Click on Select Avatar
      $("#selectedAvatar").click(function(event) {
        $("#overlay").css('visibility', 'visible');
      });
      
      // Click on one of the Avatar options
      $(".avatarOption").click(function(event) {
	    if ($(this).hasClass("deselected")) {
		    return;
		  }
	  
      var avatar = $(this).attr("avatar");
        $("#avatar").val(avatar);
        $("#selectedAvatar").attr("src", "/assets/images/avatars/" + avatar + ".png");
        $("#overlay").css('visibility', 'hidden');
        
        updatePlayerSubmitDisplay();
      });
      
      // Try to activate the button when any of the inputs change
      $(".signupInput").bind('input', function() { 
        updatePlayerSubmitDisplay();
      });
      
    });
  </script>
}{
  @flash.get("error").map { message =>
    <div class="error">
      @message
    </div>
  }

  <div class="signup widget">
    <h1 class="centered">Create your player:</h1>

    @helper.form(routes.Signup.createPlayer) {
      <div class="signupRow">
        <label class="signupLabel">Name:</label>
        <input class="signupInput" name="name" id="name" maxlength="10" autocapitalize="on" type="text" />
      </div>

      <div class="signupRow">
        <label class="signupLabel">Email:</label>
        <input class="signupInput" name="email" id="email" type="email" />
      </div>

      <div class="signupRow">
        <label class="signupLabel">Password:</label>
        <input class="signupInput" name="password" id="password" type="password" />
      </div>

      <div class="signupRow">
        <label class="signupLabel">Avatar:</label>
        <img id="selectedAvatar" class="signupAvatar" src="@routes.Assets.at("images/avatars/default.png")" alt="Avatar" />
      </div>

      <input id="avatar" name="avatar" type="hidden" />
      <input id="token" name="token" type="hidden" value=@token />

      <div class="centered">
        <button id="playerSubmit" class="disabledButton" type="submit" disabled="true">Submit your player</button>
      </div>
    }
  </div>

  <div id="overlay">
    <div class="avatarOptions">
      <h1>Select your avatar:</h1>
      @defining(List("Alien", "Bowser", "CaptainFalcon", "Cloud", "DonkeyKong", "Dragonborn", "Kratos", "LaraCroft", "Link", "Mario", "Pacman", "Pikachu", "SolidSnake", "Sonic", "Villian", "Yoshi")) { avatars =>
        <div class="avatars">
          @for(avatar <- avatars) {        
            @if(usedAvatars.contains(avatar)) {
              <img class="avatarOption deselected" src='@routes.Assets.at("images/avatars/" + avatar + ".png")' alt=@avatar avatar=@avatar available="false" />
            } else {
              <img class="avatarOption selectable" src='@routes.Assets.at("images/avatars/" + avatar + ".png")' alt=@avatar avatar=@avatar available="true" />
            }
          }
        </div>
      }
    </div>
  </div>
}