@(players: Seq[models.User], defaultPlayers: Seq[String], graphData: play.api.libs.json.JsValue, matchCount: Long)(implicit request: RequestHeader, flash: Flash)

@main {
  <title>Foosball - ELO History</title>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flot.min.js")"></script>
  
  <script type="text/javascript">
    var players = @Html(players.map(player => s"'${player.name}'").mkString("[", ",", "]"));
    var playerAvatars = @Html(players.map(player => s"'${player.name}':'${player.avatar}'").mkString("{", ",", "}"));
    var selectedPlayers = @Html(defaultPlayers.mkString("['", "','", "']"));
    var graphData = @Html(graphData.toString);

    var startMatch = 0;
    var endMatch = @matchCount;

    function mainGraphLegendFormatter(label, series) {
      if ($.inArray(label, selectedPlayers) == -1) {
        return null;
      }

      return '<span class="graphLegend">' + label + '</span>';
    }

    function playerGraphLegendFormatter(label, series) {
      var avatarPath = jsRoutes.controllers.Assets.at("images/avatars/" + playerAvatars[label] + ".png").url;

      return '<img class="miniAvatar" src="' + avatarPath + '" alt="Avatar" />'
             + '<div class="playerName">' + label + '</div>';
    }

    function buildGraphOptions(legendFormatter) {
      var options = {};

      options.xaxis = {};
      options.xaxis.minTickSize = 1;
      options.xaxis.tickDecimals = 0;

      options.xaxis.min = startMatch;
      options.xaxis.max = endMatch;

      options.yaxis = {};
      options.yaxis.minTickSize = 1;
      options.yaxis.tickDecimals = 0;

      options.legend = {};
      options.legend.show = true;
      options.legend.position = "nw";

      options.legend.labelFormatter = legendFormatter;

      return options;
    }

    function plotGraph() {
      // Determine which Players to display and which not
      for (var i = 0; i < graphData.length; i++) {
        var playerData = graphData[i];

        if ($.inArray(playerData.label, selectedPlayers) == -1) {
          playerData.lines.show = false;
        } else {
          playerData.lines.show = true;
        }
      }

      $.plot($("#mainGraph"), graphData, buildGraphOptions(mainGraphLegendFormatter));
    }

    $(document).ready(function() {
      // User selects a Player to add to the graph
      $(".player").click(function() {
        var $this = $(this);
        var selectedPlayer = $this.attr("name");

        if ($this.hasClass("selected")) {
          selectedPlayers = $.grep(selectedPlayers, function(value) {
            return value != selectedPlayer;
          });

          $this.removeClass("expose").removeClass("selected");
        } else {
          $this.addClass("expose").addClass("selected");

          selectedPlayers.push(selectedPlayer);
        }

        plotGraph();
      });

      // Create the range slider
      $("#rangeSlider").slider({
        range: true,
        min: 0,
        max: @matchCount,
        values: [0, @matchCount],
        slide: function(event, ui) {
          startMatch = ui.values[0];
          endMatch = ui.values[1];

          plotGraph();
        }
      });

      // Show the initial players as selected
      for (var i = 0; i < selectedPlayers.length; ++i) {
        $(".player[name=" + selectedPlayers[i] + "]").addClass("expose").addClass("selected");
      }

      // Plot the initial graph
      plotGraph();
    })
  </script>
}{
  @tags.playerSelection(players)

  <div id="rangeSlider" class="graphSlider centered"></div>

  <div id="mainGraph" class="historyGraph"></div>
}