@(caption: String, playerMap: Map[String, Option[String]])

<div class="recordBlock">
  <table class="rankingTable smallRecordTable">
    <caption class="centered recordCaption">@caption</caption>
    <thead>
      <tr>
        <th class="recordNameColumn">Player</th>
        <th class="recordNameColumn">Nemesis</th>
      </tr>
    </thead>
    <tbody>
      @for((player, nemesis) <- playerMap.toList) {
        <tr>
          <td class="recordNameColumn important">@player</td>
          <td class="recordNameColumn">@nemesis.getOrElse(<i>None</i>)</td>
        </tr>
      }
    </tbody>
  </table>
</div>