@(game: Int)

@defining(game % 3 + 2) { opponent1 =>
  @defining((game + 1) % 3 + 2) { opponent2 =>
    <div class="matchResults" game="@game">
      <div class="matchPlayers">
        <div class="matchPlayer" player="1">
          <div class="selectPlayer">Player 1</div>
        </div>
        <div class="matchPlayer" player="@(game + 1)">
          <div class="selectPlayer">Player @(game + 1)</div>
        </div>
      </div>

      <div class="scoreButtons">
          <a class="scoreButton disabledButton deselected" winners="1,@(game + 1)" straightWin="true">2-0</a>
          <a class="scoreButton disabledButton deselected" winners="1,@(game + 1)">2-1</a>
          <span class="versus">VS</span>
          <a class="scoreButton disabledButton deselected" winners="@opponent1,@opponent2">1-2</a>
          <a class="scoreButton disabledButton deselected" winners="@opponent1,@opponent2" straightWin="true">0-2</a>
      </div>

      <div class="matchPlayers">
        <div class="matchPlayer" player="@opponent1">
          <div class="selectPlayer">Player @opponent1</div>
        </div>
        <div class="matchPlayer" player="@opponent2">
          <div class="selectPlayer">Player @opponent2</div>
        </div>
      </div>
    </div> 
  }
}