@(partner: Int)

<div class="matchResults" partner="@partner">
  <div class="matchPlayers">
    <div class="matchPlayer" player="1">
      <div class="selectPlayer">Select Player 1</div>
    </div>
    <div class="matchPlayer" player="@partner">
      <div class="selectPlayer">Select Player @partner</div>
    </div>
  </div>
  <div class="resultButtons">
      <a class="linkButton resultButton deselected" result="win" href="#">2-0</a>
      <a class="linkButton resultButton deselected" result="win" href="#">2-1</a>
      <span class="versus">VS</span>
      <a class="linkButton resultButton deselected" result="win" href="#">1-2</a>
      <a class="linkButton resultButton deselected" result="win" href="#">0-2</a>
  </div>
  <div class="matchPlayers">
    @defining((partner - 1) % 3 + 2) { playerNumber =>
	    <div class="matchPlayer" player="@playerNumber">
        <div class="selectPlayer">Select Player @playerNumber</div>
      </div>
    }
    
    @defining(partner % 3 + 2) { playerNumber =>
      <div class="matchPlayer" player="@playerNumber">
        <div class="selectPlayer">Select Player @playerNumber</div>
      </div>
    }
  </div>
</div>