@(caption: String, recordHeader: String, partnershipRecords: Seq[domain.PartnershipRecord])

<div class="recordBlock">
  <table class="rankingTable smallRecordTable">
    <caption class="centered recordCaption">@caption</caption>
    <thead>
      <tr>
        <th class="recordRankColumn"></th>
        <th class="recordNameColumn">Players</th>
        <th class="recordValueColumn">@recordHeader</th>
      </tr>
    </thead>
    <tbody>
      @for((partnershipRecord, index) <- partnershipRecords.zipWithIndex) {
        <tr>
          <td class="recordRankColumn">@(index + 1 + ".")</td>
          <td class="recordNameColumn important">@partnershipRecord.players.mkString(" & ")</td>
          <td class="recordValueColumn important">@partnershipRecord.record.value</td>
        </tr>
      }
    </tbody>
  </table>
</div>