@(playerRankings: Seq[domain.PlayerRanking])

<table id="rankingTable" class="centered rankingTable">
  <thead>
    <tr>
      <th class="rankColumn"></th>
      <th class="nameColumn">Player</th>
      <th>#</th>
      <th>W</th>
      <th>PW</th>
      <th>PL</th>
      <th>L</th>
      <th colspan="2">Elo</th>
    </tr>
  </thead>
  <tbody>
    @for(playerRanking <- playerRankings) {
      <tr>
        <td class="rankColumn">@(playerRanking.rank + ".")</td>
        <td class="nameColumn important">@playerRanking.player</td>
        <td>@playerRanking.played</td>
        <td>@playerRanking.won</td>
        <td>@playerRanking.pseudoWon</td>
        <td>@playerRanking.pseudoLost</td>
        <td>@playerRanking.lost</td>
        <td class="important">@playerRanking.elo</td>
        @playerRanking.lastChange match {
          case x if x < 0  => { <td class="changeColumn negEloChange">@playerRanking.lastChange</td> }
          case x if x == 0 => { <td class="changeColumn noEloChange">-</td> }
          case _           => { <td class="changeColumn posEloChange">+@playerRanking.lastChange</td> }
        }
      </tr>
    }
  </tbody>
</table>