@(playerRankings: Seq[domain.PlayerRanking])

<table class="center rankingTable">
  <thead>
    <tr>
      <th class="rankColumn"></th>
      <th class="nameColumn">Player</th>
      <th>#</th>
      <th>W</th>
      <th>PW</th>
      <th>PL</th>
      <th>L</th>
      <th>Elo</th>
    </tr>
  </thead>
  <tbody>
    @for(playerRanking <- playerRankings) {
      <tr>
        <td class="rankColumn">@(playerRanking.rank + ".")</td>
        <td class="nameColumn bold">@playerRanking.player</td>
        <td>@playerRanking.played</td>
        <td>@playerRanking.won</td>
        <td>@playerRanking.pseudoWon</td>
        <td>@playerRanking.pseudoLost</td>
        <td>@playerRanking.lost</td>
        <td class="bold">@playerRanking.elo</td>
      </tr>
    }
  </tbody>
</table>