@(users: Seq[models.User])(implicit request: RequestHeader, flash: Flash)

@main {
  <title>Foosball - Login</title>
  
  <script type="text/javascript">
    $(document).ready(function() {    
      $(document).click(function(event) {
        var $allAccounts = $(".account")

        $allAccounts.removeClass("deselected");
        $allAccounts.removeClass("selected");
        $allAccounts.off("keypress");

        $("input[type='password']").hide();
        $("#password").val();

        var $target = $(event.target);
        var $account = null;

        if ($target.hasClass("account")) {
          $account = $target;
        } else {
          $account = $target.parents(".account");
        }

        if ($account.length > 0) {
          $(".account").addClass("deselected");
          $account.removeClass("deselected");
          $account.addClass("selected");

          var passwordField = $account.find("input[type='password']");
          passwordField.show();
          passwordField.focus();

          $account.keypress(function(event) {
            if(event.which == 13){ // Enter
              var name = $account.attr("name");
              var password = $account.find(".password").val();

              $("#name").val(name);
              $("#password").val(password);

              $(".accounts form").submit();
            }
          });
        }
      });

      $("input[type='password']").blur(function() {
        $(this).val("");
      });
    });
  </script>
}{
  @flash.get("error").map { message =>
    <div class="error">
      @message
    </div>
  }

  <div class="title">
    <h1>Welcome to Foosball!</h1>
    <h2>Select your player:</h2>
  </div>

  <div class="accounts">
    @helper.form(routes.Application.authenticate) {
	    @for(user <- users) {
	      <div class="account selectable" name="@user.name">
          <img class="avatar" src="@routes.Assets.at("images/avatars/" + user.avatar + ".png")" alt="Avatar" />
          <div class="userDetails">
            <div class="userName">@user.name</div>
            <input class="password" style="display: none" type="password" />
          </div>
        </div>
	    }
	    
      <input type="hidden" id="name" name="name" />
      <input type="hidden" id="password" name="password" />
    }
  </div>
}