@(header: => Html)(content: => Html)(implicit request: RequestHeader)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/reset-min.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/fonts-min.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.8.17.min.js")"></script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    @header
  </head>

  <body>
    <div class="container">
      <div class="header">
        @if(false/*!request.session.isEmpty*/) {
          <div class="navigation">
            <ul class="squareBordered">
              <div class="leftMenu">
                <li><a href="@routes.Dashboard.show">Home</a></li>
              </div>
              <div class="rightMenu">
                <li><a href="@routes.Application.logout">Log Out</a></li>
              </div>
            </ul>
          </div>
        }
      </div>
      <div class="content">
        @content
      </div>
    </div>
  </body>
</html>
